@font-face {
    font-family: "Gugi";
    src: url("../front-cours1/assets/css/Gugi-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Raleway";
    src: url(./assets/css/Raleway-Regular.ttf)
}
html {
    scroll-behavior: smooth;
}
body {
    margin: auto;
    --primary :  #E43426;
    --secondary: #ffd49f;
    background: url("../images/background.jpg") no-repeat fixed;
    font-family: 'Raleway',sans-serif;
    outline: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 10em 0 10em;
}

.mt-10 {
    margin-top:10em;
}
.mt-5 {
    margin-top:5em;
}

.mt-3 {
    margin-top:3em;
}
.mb-2 {
    margin-bottom: 1.5em;
}
.mr-1 {
    margin-right:1em;
}
.ml-1 {
    margin-left:1em;
}
.red-word {
    color:var(--primary);
}

.yellow-word {
    color: var(--secondary);
}

/**************************** NAVBAR *********************/
nav {
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    z-index:1;
}
.brand {
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    font-family: 'Gugi', "Roboto Light", serif;
    margin: 0 1em;

}
.btn-responsive {
    display: none;
}
.navbar {
    flex-basis: auto;
    display:flex;
    flex-direction: row;
    list-style: none;
    align-content: end;
}

.nav-item {
    padding: 0.5em 2em 0.5em 2em;

}

.nav-item a , .login{
    color:#ccc;
    font-size:1.1em;
    position:relative;
}
.nav-item a:hover , .login:hover {
    color:#fff;
}
.nav-item a:hover{
    text-shadow: 0 0 10px #E43426, 0 0 20px #E43426, 0 0 40px #E43426;
}

.login {
    margin-right: 2em;
}
.main {
}


/*********************************** Home *******************************/

.home {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;


}


.background-animated {
    width:100%;
    height:100vh;
    object-fit:cover;
    position: absolute;
    z-index: -1;

}
.home h1 {
    font-size:4em;
    text-align: center;
    font-family: 'Gugi',"Roboto Light", serif;
}
.home-desc {
    font-size:3em;
    text-align: center;
    font-family: 'Gugi', "Roboto Light", serif;
}
.accroche {
    font-size: 2em;
    margin-top:-1em;
}
.home-img{
    width:250px;
}
.class-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);

}

.class {
    transition: all 0.5s ease;
    width:250px;
}


.class:hover {
    transform: translateY(-10px);
    cursor:pointer;
}

.class-name {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0 0 10px #E43426, 0 0 20px #E43426, 0 0 40px #E43426;

    font-family: 'Gugi',"Roboto Light", serif;
}

.class-name::after{
    position: absolute;
    content: '';
    bottom: -3px;
    display: block;
    width: 100%;
    height:15px;
    background-color: var(--primary);
    border-bottom:2px var(--secondary) solid;
    z-index:-1;


}
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #333;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 1s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 7px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #333;
    border-width: 0px 0 2px 2px;
}
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
/************************News**************************************/
.news {

}

.new {
    display: flex;
    border: 1px black solid;
    background-color: rgba(12,12, 12, 0.62);
    color: #fff;

}
.new-main {
    flex:2;
    padding:1em;
    border-right: 2px solid rgba(255, 255, 255, 0.08)

}
.new-main img {
    width: 100%;
}
.new-menu h4 {
    font-size:1.5em;
}
.new-menu {
    flex:3;
    padding:2em;
}

.new-menu h3 {
    font-size: 1.5em;
    color: var(--primary);
    border-bottom: 2px var(--primary) solid;
}

.news-item {
    display: block;
    padding:0.5em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.news-date{
    color :rgba(255, 255, 255, 0.35);
}

.news-item:hover {
    cursor: pointer;
    background: rgba(159, 159, 159, 0.06);
}

.news-link-right {
    position:relative;
    padding: 0.5em 0 1em 0;
}
.news-link-right a{
    font-size: 1.2em;
    color:#fff;
    position: absolute;
    right: 0;

}
.news-link-right i {
    color: var(--primary);
}
.news-link-right a:hover{
    color:var(--primary);
}
/************************Activity**********************************/

.activities {
    padding-bottom: 4em;


}

.activities h2, .news h2 {
    font-family: 'Gugi',"Roboto Light", serif;
    font-size: 2.5em;
    text-align: center;
    color:#fff;
    padding: 1em 0 0em 0 ;

}

.activity {
    background-size: cover !important;
    position: relative;

}
.activity-header{
    background-color: rgba(0,0,0,0.4);
    color:white;
    text-align: center;
    padding:1em;
    transition: all .5s;

}
.activity-header:hover{
    cursor:pointer;
    background-color: rgba(0,0,0,0);
}
.activity-border {
    border:1px black solid;
    padding:0em 2em 2em 2em;
}
.activity-title {
    font-size: 1.5em;
}
/********************************Contact**************************************/
.contact {


}
.form {
    display: flex;
    background-color: rgba(12,12, 12, 0.72);
    color:#fff;

}

.right-img {
    flex:1;
}
.right-img img {
    width: 100%;
    height:100%
}
.form form {
    flex:1;
    padding:1em 5em 0 5em;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form form input,.form form select,textarea {
    border:none;
    background-color: inherit;
    border-bottom-right-radius: 10px;
    width: 100%;
    padding:0.8em 0;
    display: block;
    margin-bottom: 1em;
    border-bottom: 2px #ddd solid;
    color:#fff;

}

.form-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.form form input:focus,.form form select:focus,textarea:focus {
    border-bottom: 2px var(--secondary) solid;
}
input:focus, select:focus, textarea:focus, button:focus { outline: none; }

::placeholder {
    font-size: 1.2em;

}
textarea {
    height:100px;
}

.btn-submit {
    border: 2px #fff solid;
    border-radius:90px;
    padding:1em 3em 1em 3em;
    background-color: inherit;
    font-weight:bold;
    color:#fff;
    transition: all 0.4s ease;
}

.btn-submit:hover {
    background-color: #fff;
    color:#222;
    cursor:pointer;
}
/*******************************Footer***************************************/

footer {
    background-color: #111;
    color: white;
    padding:1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color:#eee;
}

@media (max-width:900px){
    body {
        font-size: 12px;
    }
    .btn-responsive {
        display: inline-block;
        cursor: pointer;
        border: 0;
        background-color: inherit;
        margin:0 1em;
    }

    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 5px 0px;
        transition: 0.4s;
    }

    .btn-responsive:focus ~ .navbar{
        display:block;
    }

    .btn-responsive:focus .bar1 {
        transform: rotate(-45deg) translate(-2px, 2px) ;
    }

    .btn-responsive:focus .bar2 {
        transform: rotate(45deg) translate(-3px, -3px);

    }
    .btn-responsive:focus .bar3 {
        opacity: 0;
    }
    nav {
        flex-wrap: wrap;
        justify-content: space-between;
        padding:1em 0;
    }

    .navbar {
        padding: 0;
        width: 100%;
        display: none;
        text-align: center;
    }
    .class-group {
        display: block;
    }
    .home {
        text-align: center;
    }
    .new {
        display:block;
    }
    .container {
        padding: 0;
    }

    .right-img {
        display:none;
    }

    .form form {
        padding:10px;
    }
    .contact{
        margin-bottom: 10px;
    }
    footer {
        display:block;
        text-align: center;
    }
}

@media (min-width:900px) and (max-width:1200px) {
    .container{
        padding: 0 3em 0 3em;
    }
}